<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mysaved">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_launcher"
        android:label="JobSeeker"
        android:roundIcon="@mipmap/logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySaved">
        <activity android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".New_SaveReq_Jobs"
            android:exported="true" />
        <activity
            android:name=".NewReqJob_Homepage"
            android:exported="true" />
        <activity
            android:name=".UserloginActivity"
            android:exported="true" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".EditProfile"
            android:exported="true" />
        <activity
            android:name=".New_Saved_Jobs"
            android:exported="true" />
        <activity
            android:name=".RegisterUserActivity"
            android:exported="true" />
        <activity
            android:name=".ViewJob"
            android:exported="true" />
        <activity
            android:name=".RequestJob"
            android:exported="true" />
        <activity
            android:name=".EditJobReq"
            android:exported="true" />
        <activity
            android:name=".MyJobListings"
            android:exported="true" />

        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MyRequestedJobs"
            android:exported="true" />
        <activity
            android:name=".EditJob"
            android:exported="true" />
        <activity
            android:name=".ViewReqJob"
            android:exported="true" />
        <activity
            android:name=".ViewjobM"
            android:exported="true" />
        <activity
            android:name=".Homepage_new"
            android:exported="true">

        </activity>
        <activity
            android:name=".CreateJob"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>